<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Komensky{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/komensky.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/komensky.js"></script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Komensky</a>
          </div>
          <div class="collapse navbar-collapse" id="menu">
            {% if user.is_authenticated %}
              <ul class="nav navbar-nav">
                <li><a href="{% url 'courses' %}"><i class="fa fa-graduation-cap"></i> Meus Cursos</a></li>
                <li><a href="#"><i class="fa fa-certificate"></i> Meus Certificados</a></li>
                <li><a href="#"><i class="fa fa-support"></i> Suporte</a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i> Comprar Cursos</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-user"></i> Vitor Freitas</a></li>
                <li style="font-size: .8em"><a href="#"><i class="fa fa-cog"></i> Configurações</a></li>
                <li style="font-size: .8em"><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Sair</a></li>
              </ul>
            {% else %}
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <button type="button" class="btn btn-success navbar-btn" style="margin-right: .5em">Registrar</button>
                </li>
                <li>
                  <button type="button" class="btn btn-default navbar-btn" onclick="location.href='login'">Entrar</button>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        {% block main %}
        {% endblock main %}
      </div>
    </main>
  </body>
</html>