@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

nav.navbar div.navbar-header a.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  color: #ffffff;
}

nav.navbar {
  background-color: #006389;
}

nav.navbar ul.nav li a {
  color: #ffffff;
}

nav.navbar ul.nav li a:hover,
nav.navbar ul.nav li a:focus {
  color: #ffffff;
}

nav.navbar ul.nav li.dropdown.open > a,
nav.navbar ul.nav li.dropdown.open > a:focus {
  background-color: #0078A2;
  color: #ffffff;
}

nav.navbar ul.nav li ul.dropdown-menu li a {
  color: #333333;
}

.navbar i.fa {
  margin-right: .2em;
  font-size: 1.2em;
}

body {
  color: #333333;
}

.page-header {
  margin-top: 0;
}

.profile-picture {
  border-radius: 10px;
  width: 100%;
}

ul.profile-stats {
  padding: 1em 0;
  color: #aaaaaa;
  border-bottom: 1px solid #eeeeee;
}

ul.profile-stats li {
  list-style: none;
}