@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

nav.navbar div.navbar-header a.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  color: #ffffff;
}

nav.navbar {
  background-color: #006389;
}

nav.navbar ul.nav li a {
  color: #ffffff;
}

nav.navbar ul.nav li a:hover,
nav.navbar ul.nav li a:focus {
  color: #92c35e;
}

.navbar i.fa {
  margin-right: .2em;
  font-size: 1.2em;
}

body {
  color: #333333;
}

.page-header {
  margin-top: 0;
}

.profile-picture {
  border-radius: 10px;
  width: 100%;
}