{% extends 'base.html' %}

{% load gravatar %}

{% block main %}
  <div class="page-header">
    <h1>Vitor Freitas</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="{% gravatar_url 'vitorfs@gmail.com' %}" class="profile-picture">
      <ul class="profile-stats">
        <li><span style="width: 20px; display: inline-block;"><i class="fa fa-clock-o"></i></span> 18 Jun 2014</li>
        <li><span style="width: 20px; display: inline-block;"><i class="fa fa-star"></i></span> 90 Pontos</li>
        <li><span style="width: 20px; display: inline-block;"><i class="fa fa-graduation-cap"></i></span> 10 Cursos</li>
      </ul>
    </div>
    <div class="col-md-10">
      <h2>Cursos Recentes</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">jQuery na Prática</h3>
        </div>
        <div class="panel-body">
          jQuery na Prática é um curso presencial sobre os fundamentos de jQuery
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">C# Básico</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Latin para idiotas</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
{% endblock main %}